html {
  font-size: 62.5%; }
  @media (max-width: 100em) {
    html {
      font-size: 55%; } }
  @media (max-width: 85em) {
    html {
      font-size: 50%; } }
  @media (max-width: 64em) {
    html {
      font-size: 45%; } }

body {
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(to right top, #009bff, #51adfa, #7cbef4, #a3cdee, #c9dce9); }

.main-text {
  font-size: 2rem;
  text-align: justify; }
  .main-text--bold {
    font-weight: 700; }
  .main-text--red {
    color: red; }
  .main-text--small {
    font-size: 2.2rem; }
  .main-text--smallest {
    font-size: 1.8rem; }
  .main-text--smaller {
    font-size: 1.5rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-large {
  margin-bottom: 10rem; }

.u-margin-list-items > li {
  margin-bottom: 1rem; }

.u-margin-bottom-minus-small {
  margin-bottom: -2rem; }

.u-no-margin-all > p {
  margin: 0 !important; }

.u-font-size-medium {
  font-size: 4rem; }

.u-height-one {
  height: 35rem; }

.u-height-two {
  height: 38rem; }

.u-math-bigger {
  font-size: 4rem !important; }

.u-math-medium {
  font-size: 3.4rem !important; }

.image-box {
  height: 56rem;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 1.5rem 4rem black; }
  .image-box__one {
    background-image: url(../img/one.jpg); }
  .image-box__two {
    background-image: url(../img/two.jpg); }
  .image-box__three {
    background-image: url(../img/three.jpg); }
  .image-box__four {
    background-image: url(../img/four.jpg); }
  .image-box__five {
    background-image: url(../img/five.jpg); }
  .image-box__six {
    background-image: url(../img/six.jpg); }
  .image-box__seven {
    background-image: url(../img/seven.jpg); }
  .image-box__eight {
    background-image: url(../img/eight.jpg); }
  .image-box__nine {
    background-image: url(../img/nine.jpg); }
  .image-box__ten {
    background-image: url(../img/ten.jpg); }
  .image-box__eleven {
    background-image: url(../img/eleven.jpg); }
  .image-box__twelve {
    background-image: url(../img/twelve.jpg); }
  .image-box__thirteen {
    background-image: url(../img/thirteen.jpg); }
  .image-box__fourteen {
    background-image: url(../img/fourteen.jpg); }
  .image-box__table-one {
    background-image: url(../img/table-one.png); }
  .image-box__table-two {
    background-image: url(../img/table-one.png); }

.img-height {
  height: 45rem; }

.heading-text-box {
  height: 10rem;
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto; }
  .heading-text-box--align-right {
    text-align: right; }
  .heading-text-box--small {
    height: 4rem;
    width: 20rem;
    display: inline-block;
    margin: 0;
    text-align: left;
    margin-bottom: 2rem; }
  .heading-text-box--right {
    width: 50%;
    display: inline-block; }
  .heading-text-box--medium {
    height: 6rem; }
  .heading-text-box--margin-top-one {
    margin-top: 25rem; }
  .heading-text-box--margin-top-two {
    margin-top: 9rem; }
  .heading-text-box--margin-top-three {
    margin-top: 15rem; }
  .heading-text-box--margin-top-four {
    margin-top: 18rem; }
  .heading-text-box--margin-top-five {
    margin-top: 4rem; }
  .heading-text-box__button {
    width: 100%;
    height: 100%;
    /* &:after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 100px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        } */ }
    .heading-text-box__button:link, .heading-text-box__button:visited {
      background-color: #008ae3;
      color: #fff;
      font-size: 2.5rem;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      position: relative;
      box-shadow: 0 1.5rem 4rem black;
      transition: all .2s; }
    .heading-text-box__button--less-width {
      width: 50%; }
    .heading-text-box__button--small-width {
      width: 35%; }
    .heading-text-box__button--right {
      width: 100%; }
    .heading-text-box__button:hover {
      background-color: #007acc;
      /*   transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(black, 1);
            &:after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            } */
      box-shadow: 0 0.5rem 1rem black; }
    .heading-text-box__button:active, .heading-text-box__button:focus {
      outline: none;
      /* transform: translateY(-1px); */
      box-shadow: 0 0.5rem 1rem black; }
    .heading-text-box__button--no-active-hover:hover, .heading-text-box__button--no-active-hover:active, .heading-text-box__button--no-active-hover:focus {
      box-shadow: 0 1.5rem 4rem black;
      background-color: #008ae3;
      cursor: auto; }
  .heading-text-box__paragraph {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .heading-text-box__paragraph--small {
      font-size: 2rem; }
  .heading-text-box__text {
    font-size: 2rem; }

.show-hidden {
  display: none; }

.page-item {
  padding-right: 1rem; }

.page-link {
  padding: 1rem 2rem;
  font-size: 1.7rem; }

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #008ae3; }

.page-content {
  display: none; }

.page-content-active {
  display: block; }

.line {
  height: 4rem;
  width: 1px;
  margin: auto; }
  .line--left {
    height: 8rem;
    width: 8rem;
    margin-left: 30%;
    display: inline-block; }
  .line__item {
    border-left: 5px dashed gray;
    height: 100%;
    width: 100%; }
    .line__item--left {
      border-left: 5px dashed gray;
      border-bottom: 5px dashed gray;
      width: 100%; }

.page {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to right top, #009bff, #51adfa, #7cbef4, #a3cdee, #c9dce9); }
  .page__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80rem;
    width: 80%;
    padding: 5rem; }
    @media (max-width: 100em) {
      .page__wrapper {
        width: 90%; } }
    @media (max-width: 64em) {
      .page__wrapper {
        width: 100%; } }
