.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.u-margin-bottom-medium {
    margin-bottom: 3rem;
}

.u-margin-bottom-big {
    margin-bottom: 6rem;
}

.u-margin-bottom-large {
    margin-bottom: 10rem;
}

.u-margin-list-items>li {
    margin-bottom: 1rem;
}

.u-margin-bottom-minus-small {
    margin-bottom: -2rem;
}

.u-no-margin-all>p {
    margin: 0 !important;
}

.u-font-size-medium {
    font-size: 4rem;
}

.u-height-one {
    height: 35rem;
}

.u-height-two {
    height: 38rem;
}

// Math class
// .MJXc-display {
//     display: inline-block !important;
//     margin: 0 !important;
//     margin-bottom: 1rem !important;
// }

.u-math-bigger {
    font-size: 4rem !important;
}
.u-math-medium {
    font-size: 3.4rem !important;
}