.heading-text-box {
    height: 10rem;
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    &--align-right {
        text-align: right;
    }

    &--small {
        height: 4rem;
        width: 20rem;
        display: inline-block;
        margin: 0;
        text-align: left;
        margin-bottom: 2rem;
    }
    &--right {
        width: 50%;
        display:inline-block;
    } 

    &--medium {
        height: 6rem;
    }

    &--margin-top-one {
        margin-top: 25rem;
    }

    &--margin-top-two {
        margin-top: 9rem;
    }

    &--margin-top-three {
        margin-top: 15rem;
    }

    &--margin-top-four {
        margin-top: 18rem;
    }

    &--margin-top-five {
        margin-top: 4rem;
    }



    &__button {
        width: 100%;
        height: 100%;


        &:link,
        &:visited {
            background-color: rgba(0, 138, 227, 1);
            color: #fff;
            font-size: 2.5rem;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;

            cursor: pointer;
            position: relative;
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 1);
            transition: all .2s;
        }

        &--less-width {
            width: 50%;
        }

        &--small-width {
            width: 35%;
        }
        &--right {
            width: 100%;
        }

        &:hover {
            background-color: rgba(0, 122, 204, 1);
            /*   transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(black, 1);
            &:after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            } */
            box-shadow: 0 0.5rem 1rem rgba(black, 1);
        }

        &:active,
        &:focus {
            outline: none;
            /* transform: translateY(-1px); */
            box-shadow: 0 0.5rem 1rem rgba(black, 1);
        }

        &--no-active-hover:hover,
        &--no-active-hover:active,
        &--no-active-hover:focus {
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 1);
            background-color: rgba(0, 138, 227, 1);
            cursor: auto;
        }

        /* &:after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 100px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        } */

    }




    &__paragraph {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 0;
        @include absolute-center;

        &--small {
            font-size: 2rem;
        }
    }
    &__text {
        font-size: 2rem;
    }
}

.show-hidden {
    display: none;
}